.course__1-body-title{
    font-size: 28px;
    font-weight: 600;
    margin: 16px 0;

}


.course__1-body-list{
    font-size: 20px;
    font-weight: 400;
    word-wrap: break-word;
    line-height: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.course__1-body-item{
  padding: 8px 0;
}
.course__1-body-des-list{
    margin-left: 55px;
    margin-top: 8px;
    list-style:circle;
}
.des-list-item{
    padding: 8px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
   
}