.title_course {
    display: flex;
    .thumnail {
        margin-right: 16px;
        border-radius: 4px;
        overflow: hidden;
    }
    .dot {
        width: 4px;
        height: 4px;
        border-radius: 2x;
    }
    .Approve {
        background-color: #38a169;
    }
    .Pending {
        background-color: #f59e0b;
    }
}