.layout2-learningpage {
    .learning-nav{
        margin-top: 64px;
        width: 100%;
        height: 64px;
        background: #002333;
    }
    .learning-nav-contain{
        height: 100%;
        display: flex;
        justify-content: center;
    }
    .learning-nav-btn{
        width: 194px;
        height: 100%;
        border: none;
        background: #002333;
        color: #fff;
        font-size: 18px;
        font-weight: 600;
    }
    .active {
        background-color: #8F8F8F;
    }
    .learning-nav-btn:hover{
        cursor: pointer;
    }
    .course__1-body-set-width{
        width: 1000px;
        margin: auto;
        margin-top: 48px;
    }
}