.Profile{
    width: 1000px;
    margin: auto;
    padding-top: 32px;
    .avatar_img {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        overflow: hidden;
    }
    .line-1 {
        margin-top: 16px;
        height: 1px;
        background: black;
    }
    .left{
        width: 232px;
        .profileimg{
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            .mt16{
                margin-top: 16px;
            }
            h2{
                
                display: inline-block;
                font-weight: 400;
                margin-bottom: 24px;
            }
            .img{
                height: 120px;
                width: 120px;
                background-color: #bbb;
                border-radius: 50%;
                display: inline-block;
                margin-bottom: 24px;

            }
        }

        .follower{
            display: grid;
            grid-template-columns: auto auto;
            margin: 26px 0px 26px 0px;
            .follow{
                align-items: center;
                text-align: center;
            }
            .num{
                font-size: 22px;
                font-weight: 600;
            }
        }
        .thongke{
            margin-left: 10px;
        }
        .hours-learning{
            margin: 24px 0px 29px 10px;
            font-size: 14px;
            display: flex;
            align-items: center;
            span{
                padding-left: 16px;
            }
        }
        .chart{
            width: 100px;
            height:100px;
        }
        .statistics{
            padding: 32px 24px 44px 24px;
            display: flex;
            flex-direction: column;
            gap: 17px;
            font-size: 14px;
            .element{
                display: flex;
                justify-content: space-between;
                .roundbox{
                    width: 16px;
                    height: 16px;
                    border-radius: 4px;
                    margin-right: 10px;
                    &.first{
                        background: #503ED8;
                    }
                    &.second{
                        background: #796BDF;
                    }
                    &.third{
                        background: #B0A9E9;
                    }
                    &.fourth{
                        background: rgba(176, 169, 233, 0.60);


                    }
                    &.fifth{
                        background: rgba(204, 199, 238, 0.50);
                    }
                    &.sixth{
                        background: rgba(224, 221, 241, 0.60);


                    }
                }
                div{
                    display: flex;
                }
            }
        }
        .notice{
            font-size: 14px;
        }
        
    }

    .right{
        text-align: left;
        
        .body{
            padding-top: 24px;
            display: flex;
            flex-direction: column;
            font-weight: 600;
            gap: 24px;
            .box{
                margin-top: 8px;
                width: 256px;
                height: 52px;
                padding-left: 16px;
                font-size: 18px;
            }
            .name{
                display: flex;
                gap: 86px;
            }
            .phone_gender{
                display: flex;
                gap: 86px;
                .gender{
                    margin-top: 44px;
                    display: flex;
                    gap:24px;
                    div{
                        display: flex;
                        gap: 10px;
                        align-items:center;
                    }
                    .radio{
                        width: 18px;
                        height: 18px;
                    }
                }
            }
            .biography{
                
                textarea{
                    margin: 24px 0px 23px 0px;
                    padding-top: 16px;
                    width: 488px;
                    height: 249px;
                    flex-shrink: 0;
                }
            }
            .savechange{
                width: 163px;
                color: #000;
                background: #2CFF99;
                &:hover{
                    background-color: #000;
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
    }
}