.MyClasses{
    text-align: left;
    width: 1000px;
    margin: auto;
    padding-top: 40px;
    .Top{
        margin-bottom: 24px;
        .Title{
            font-size: 28px;
            font-weight: 600;
        }
        .Category{
            display: flex;
            gap: 75px;
            padding-left: 60px;
            margin-top: 8px;
            border-bottom: 1px solid;
            .element{
                font-size: 16px;
                font-weight: 600;
                padding: 16px 0px 16px 0px;
                border-bottom: 6px solid #FFF;
                transition: 0.5s;
            }
            .active {
                border-bottom-color: #503ED8;
            }
            .element:hover{
                cursor: pointer;
                border-bottom-color: #503ED8;
            }
        }
    }
    .Body{
        padding: 0px;
    }
    .watch-histoty {
        .class-option {
            .choose{
                display: flex;

                .choose-item {
                    width: 50%;
                    .choose-title {
                        text-align: start;
                    }
                    .radio-btn {
                        margin-top: 16px;
                        margin-bottom: 30px;
                        display: flex;
                        .radio{
                            margin-right: 80px;
                        }
                    }
                }
            }
            h3{
                text-align: start;
                margin-bottom: 16px;
            }
        }
        .skills {
            display: flex;
            justify-content: space-between;
            padding-bottom: 24px;
            border-bottom: 2px solid #000;
            .btn-list {
                .item {
                    margin-right: 6px
                }
            }
        }
    }
}