.course__3{
    width: 1000px;
    margin: auto;
}
.course-3-body{
    display: flex;
    border-bottom: 1px solid #000;
    padding-bottom: 24px;
}
.course-3-des{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.course-3-des-1{
    font-size: 22px;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    margin-bottom: 16px;

}
.course-3-des-1:hover{
    text-decoration:underline;
    cursor: pointer;
}
.course-3-des-2-contain{
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: start;
}.course-3-des-2-1{
    line-height: 24px;
}
.des-2-4{
    display: flex;
}
.des-2-4-1{
    margin-right: 10px;
    font-size: 20px;
    font-weight: 600;
}
.course-3-des-2-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: end;
}
.course-3-des-2-2-1{
    color: #3CAD99;
font-size: 18.88px;

font-weight: 500;
}
.course-3-des-2-2-2{
    font-size: 15px;
    text-decoration-line: line-through;
    opacity: 0.7;
}
.course-3-des-2-2-3{
    color: #565454;
font-size: 37.76px;

font-weight: 600;
}
.course-3-img{
    margin-right: 26px;
    display: flex;
    flex-direction: column;
}
.des-2-3-margin{
    margin-top: 20px;
    margin-bottom: 40px;
}
.mt24{
    margin-top: 24px;
}
.mt80{
    margin-top: 80px;
    margin-bottom: unset;
}
.fz-20{
    
}
.course-img-box{
    width: 317px;
    height: 16px;
    background-color: #ccc;
    margin-top: 8px;
    object-fit: cover;
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #000;
    margin: 8px 16px;
}