@mixin size {
    width: 50%;
    height: 100%;
}

.card-horizontal {
    width: 488px;
    height: 162px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    border: 1px solid #000;
    .left {
        @include size();
        overflow: visible;
       
    }

    .right {
        width: 50%;
        background-color: #fff;
        padding: 16px;

        .lession {
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 19.2px;
            display: flex;
        }
        
        .time{
            font-weight: 300;
            font-size: 14px;
        }
        .title {
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 19.2px;
        }
        .name{
            display: flex;
            justify-content: space-between;
            padding-top: 16px;
            .time{
                font-size: 15px;
                color: #3722D3;
            }
        }

        .instructor {
            font-size: 15px;
            font-style: normal;
            font-weight: 300;
            line-height: 18px;
        }
    }
}