.greyBar{
    width: 512px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #D9D9D9;
}
.blueBar{
    @extend .greyBar;
    width: 512px;
    position: absolute;
    background: #503ED8;
}