.layout4-container {
    width: 1000px;
    margin: auto;
    text-align: left;
    padding-top: 40px;
    
    .title {
        font-size: 26px;
        font-weight: 600;
        margin-bottom: 32px;
    }  
    .button {
        margin-right: 16px;
        font-size: 16px;
        font-weight: 600;
        border: 1px solid #000;
        padding: unset;
        padding: 2px 24px;
    }
     
    .row {
        margin-bottom: 48px;
    
    }

}