.header-container {
    display: flex;
    justify-content: space-between;
    background-color: #002333;
    height: 80px;
    align-items: center;
    color: #fff;
    padding: 0 24px;

    .search {
        width: 447px;
        height: 48px;
    }

    .browse {
        position: relative;

        .browse_content {
            position: absolute;
            top: 56px;
            left: 16px;
            width: 830px;
            height: 410px;
            border-radius: 8px;
            background: #5B5B5B;
            padding: 24px 24px;
            z-index: 2;

            .title {
                font-size: 16px;
                font-style: normal;
                line-height: 19.2px;
                padding-bottom: 12px;
                border-bottom: solid #E7E7E7 1px;
            }

            .browse_content-left {
                padding-right: 24px;
                border-right: solid #E7E7E7 1px;
            }
            
            .browse_content-right {
                padding-left: 24px;
            }

            .create_list {
                list-style: none;
                margin: 0;
                li {
                    padding: 12px 0;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 21.6px;
                }
                li :hover {
                    cursor: pointer;
                } 
            }
        }
    }

    .left {
        display: flex;

        .logo {
            margin: 0px 24px 0px 24px;
        }

        .btn {
            width: 146px;
            height: 48px;
            margin: 0px 16px 0px 16px;
            background-color: #E7E7E7;
        }

        .search {
            width: 400px;
            margin: 0px 16px 0px 16px;
            // background-color: #E7E7E7;
            font-size: 20px;
        }
    }
    
    .right {
        display: flex;

        .btn-text {
            color: #fff;
            margin-right: 30px;
            line-height: 45px;
            font-size: 18px;
            font-weight: 600;
            text-decoration: none;
            align-items: center;

            &:hover {
                color: #1877f2;
                cursor: pointer;
            }
        }
    }

    .avatar_dropdown {
        position: relative;
        .avatar_dropdown_content {
            position: absolute;
            top: 52px;
            right: 0px;
            width: 268px;
            height: 545px;
            border-radius: 8px;
            border: 1px solid #000;
            background: #808080;
            z-index: 2;
            .avatar_dropdown_top {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 24px 0;
                border-bottom: 1px solid #fff;
                .avatar {
                    width: 88px;
                    height: 88px;
                    border-radius: 50%;
                    overflow: hidden;
                    margin-bottom: 24px;
                }
                .name {
                    margin-bottom: 24px;
                }
                .btn_view {
                    height: 48px;
                    border-radius: 8px;
                    background: #2CFF9A;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                }
            }
            .avatar_dropdown_bottom {
                padding: 24px 41px;
                .item {
                    font-size: 20px;
                    margin-bottom: 24px;
                    span {
                        color: #fff;
                    }
                }
            }
        }
    }
}